<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Auction Website Scraper v.0.1</title>
    <link rel="stylesheet" href="../../css/index.css" />
    <script src="./app.js"></script>
  </head>
  <body>
    <div class="wrap themed">
      <!-- <header class="window_top"><div class="btn_box">
          <i id="btn_exit" title="닫기"></i>
          <i id="btn_minimize" title="최소화"></i>
          <i id="btn_maximize" title="최대화"></i>
        </div>
        <div class="title_box"><h1>Auction Website Scraper</h1></div>
      </header> -->
      <div class="container">
        <nav>
          <div class="row">
            <!-- <div>
              <input type="checkbox" id="chk_autosave" />
              <label for="chk_autosave">자동저장</label>
            </div>
            <div class="btn btn_primary">시작</div> -->
          </div>

          <div class="search_box">
            <select>
              <option>K-AUCTION</option>
              <!-- <option>SEOUL AUCTION</option>
              <option>ARTDAY</option>
              <option>RAIZ ART</option> -->
            </select>
            <div class="icon_box">
              <span class="svg_box">
                <svg
                  focusable="false"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                  ></path>
                </svg>
              </span>
            </div>
            <div class="input_box">
              <input
                id="url"
                type="text"
                value="https://www.k-auction.com/Auction/Premium/118"
                required="required"
                autofocus="autofocus"
                placeholder="URL을 입력해주세요"
                onkeyup="onPress()"
              />
            </div>
            <div class="btn btn_primary" onclick="onSubmit()">SUBMIT</div>
            <!-- <div class="btn btn_primary" onclick="toggleCancel()">CANCEL</div> -->
          </div>
        </nav>
        <main>
          <div class="loading"><i class="img"></i></div>
          <table>
            <thead>
              <tr>
                <th>No.</th>
                <th>작가명(국문)</th>
                <th>작가명(영문)</th>
                <th>작가명(영문)</th>
                <th>작가명(영문)</th>
                <th>제작년도</th>
                <th>인증 및 감정서</th>
                <th>작품규격</th>
                <th>재료 및 기법(국문)</th>
                <th>재료 및 기법(영문)</th>
                <th>사인위치</th>
                <th>추정가</th>
                <th>출품처</th>
                <th>경매명</th>
                <th>거래일</th>
                <th>낙찰가격</th>
              </tr>
            </thead>
            <tbody id="tbody"></tbody>
          </table>
        </main>
      </div>
    </div>
  </body>
</html>
